{% extends "products/base.html" %}
{% load static %}
{% block content %}



			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<ul class="nav nav-pills" role="tablist">
					<li role="presentation" class="active"><a href="{% url 'index' %}">Home </a></li>
					{% if user.is_authenticated %}
					<li role="presentation"><a href="{% url 'profile' %}">Profile</a></li>
					<li role="presentation"><a href="{% url 'logout' %}">Logout </a></li>
					{% else %}
					<li role="presentation"><a href="{% url 'login' %}">Login </a></li>
					<li role="presentation"><a href="{% url 'register' %}">Register</a></li>
					{% endif %}
				  </ul>
			</div>
			<!-- /container -->


		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{message.tags}}" role="alert">
					{{ message }}
			  	</div>

			{% endfor %}
		{% endif %}
				<!-- row -->
				<div class="row">
					<div class="section-title">
						<h3 class="title">Featured </h3>
						</div>
					{% for product in all_products %}
					{% if product.product_is_featured %}
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{{ product.product_image.url }}" alt="">
							</div>
							<div class="shop-body">

								<h3>{{ product.product_name }} </h3>
								<a href="/product_detail/{{ product.id }}/" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
					{% endif %}
					{% endfor %}
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Recently Added</h3>
							<br>
							<span class="text-muted"> Swipe </span>
						</div>
					</div>

					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										{% for product in all_products %}

										<!-- product -->
										<div class="product">

											<div class="product-img">
												<img src="{{ product.product_image.url }}" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">

												<h3 class="product-name"><a href="/product_detail/{{ product.id }}/">{{ product.product_name }}</a></h3>
												<h4 class="product-price">${{ product.product_price }} <del class="product-old-price">$990.00 </del></h4>
												<div class="product-rating">

														{% for r in product.get_avg_rating %}
															<i class="fa fa-star"></i>
														{% endfor %}



												</div>
												<div class="product-btns">
													<form action="{% url 'add_to_wishlist' %}" method="POST">
														{% csrf_token %}
													<input type="text" name="product_id" value="{{ product.id }}" style="display: none;">
													<button class="btn btn-danger" type="submit"><i class="fa fa-heart-o"></i><span class="tooltipp">  Add to wishlist  </span> </button>
													</form>
													<a href="/product_detail/{{ product.id }}/" class="badge badge-info"><i class="fa fa-eye"></i> Detail view </a>

												</div>
											</div>
											<div class="add-to-cart">
												<form action="{% url 'add_to_cart' %}" method="POST">
													{% csrf_token %}
													<input type="text" name="product_id" value="{{ product.id }}" style="display: none;">
												<button class="add-to-cart-btn" type="submit"><i class="fa fa-shopping-cart"></i> add to cart</button>
												</form>
											</div>

										</div>

										<!-- /product -->
										{% endfor %}
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>02</h3>
										<span>Days</span>
									</div>
								</li>

							</ul>
							<h2 class="text-uppercase">hot deal this week</h2>
							<p>New Collection Up to 50% OFF</p>
							<a class="primary-btn cta-btn" href="{% url 'index' %}">Shop now</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
	<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form method="POST" action="{% url 'subscribe' %}">
								{% csrf_token %}
								<input required class="input" type="email" placeholder="Enter Your Email" name="email">
								<button class="newsletter-btn" type="submit"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 col-xs-6 justify-content-center">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.ipisci?</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>798 Boulevard Road</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>(02) 9524 2111</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>email@commsite.com</a></li>
								</ul>
							</div>
						</div>


					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> Created by Parth
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

{% endblock content %}
