{% extends 'products/base.html' %}
{% load static %}
{% block content %}

<script src="https://js.stripe.com/v3/"></script>


  <div class="container">
      <!-- Add form here -->
      <form action="{% url 'charge' %}" method="post" id="payment-form">
        {% csrf_token %}
        <div class="form-field-12">
          <input required name="amount" id="amount" value="{{ amount }}" style="display: none;">
        </div>
      <h2 class="mb-3">Payment</h2>
        <div class="form-row">
          <label for="card-element">
            Credit or debit card
          </label>
          <div class="row">
            <div class="col-md-6 mb-3">
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert"></div>
        </div>
        </div>

      </div>
        <hr>

         <input  class="myButton btn btn-danger btn-lg btn-block"  type="submit" value="Submit Payment" name="">

      </form>

    </div>
<!-- JS -->
<script>
  // Create a Stripe client.

  var stripe = Stripe('pk_test_51Iwzv4G646ByEKeYHaBDo8yZyM7JpWQYhixpy5slLoQitdiEZjWBE5IGulWGA2u8FA19ThqHQnsJgzYQhr5GVHpz00nxK9wu8d');


  // Create an instance of Elements.
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: '#32325d',
      fontFamily: 'Arial',
      fontSmoothing: 'antialiased',
      fontSize: '20px',
      color: '#aab7c4',
      padding: '8px',
      '::placeholder': {

      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };

  // Create an instance of the card Element.
  var card = elements.create('card', {style: style});

  // Add an instance of the card Element into the `card-element` <div>.
  card.mount('#card-element');

  // Handle real-time validation errors from the card Element.
  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  // Handle form submission.
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
      }
    });
  });

  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
  }
</script>
{% endblock content %}
